- title "Message Detail"
#content_wrapper
  #main_col.shadow.dark_text
    .col_head
      %h2.float_left
        - unless @recipient.note.is_sysmessage
          =  "Message from #{@recipient.note.sender.try(:full_name)}"
        - else
          =  "Message from iTourSmart"
      .right
        = link_to "message center", :back
        = "|"
        = link_to "Dashboard", dashboard_path
      .clear
    .block_quote.left
      = link_to "Reply", new_note_path(:sender_id => current_user.id, :recipient_id => @recipient.note.sender.id, :from => current_user.full_name, :to => @recipient.note.sender.full_name, :subject => "Re: #{@recipient.note.subject}", :body => @recipient.note.body ) if !@recipient.note.is_sysmessage
      = "|" if !@recipient.note.is_sysmessage
      = link_to "Delete", recipient_path, :method => :delete
    .block_quote.left
      %table
        %tr
          %td(width = "1px")
            Subject:
          %td
            = @recipient.note.subject
        %tr
          %td
            To:
          %td
            - for @receiver in @recipient.note.recipients
              = @receiver.user.try(:full_name)
        %tr
          %td
            Received:
          %td
            = @recipient.note.occurred_at.strftime("%B %e, %Y %r %Z")
      %hr
      #note_view_body.left.dark_text
        - if !@recipient.note.permalink
          :textile
            #{textilize(@recipient.note.body)}
        - else
          = render @recipient.note.permalink
                      
#sidebar.justify
  = render 'generic/banner_1'
  = render 'generic/banner_2'
  .pad_10
  = render "generic/twitter"