- title "Forgot Password"
#content_wrapper
  #full_col.shadow.dark_text
    .col_head
      %h2.float_left
        = "Forgot Your Password?"
      .clear
    .block_quote.left
      = simple_form_for resource, :url => password_path(resource_name, :html => { :method => :post }) do |f|
        = devise_error_messages!
        = f.input :email
        = render "/generic/action", :f => f, :submit_text => "Send me reset password instructions"
      = render :partial => "devise/shared/links"      
