- title "Merge #{@organization.name}"
#content_wrapper
  #main_col.shadow.dark_text
    .col_head
      %h2.float_left
        = "Merge #{@organization.name}"
      .clear
    .block_quote.left
      = simple_form_for @organization, :url => merge_update_organization_path(@organization) do |f|
        .non_input.bold
          = "What organization do you want to merge #{f.object.name} into?"
        .non_input
          = f.input  :new_org_id, :collection => current_user.organizations, :label => false
        .non_input
          = "When you click 'submit' this organization's locations and people will be merged into the selected organization.  This cannot be undone!"
        = f.submit
    
    
    
    
    
#sidebar.justify
  = render 'generic/banner_1'
  = render 'generic/banner_2'